@media only screen and (max-width: 1175px) {
   .header-nav__list {
      gap: 15px;
   }
}

@media only screen and (max-width: 1060px) {
   .header-nav,
   .social-wrapper {
      display: none;
   }

   .nav-icon-btn {
      display: block;
   }

   .buttonToTop-wrapper {
      right: 40px;
   }
}

@media only screen and (max-width: 1000px) {
   .price-content {
      gap: 50px;
   }

   .price-item {
      max-width: 300px;
   }

   .price-item__desc {
      font-size: 16px;
   }

   .price-desc__title,
   .price-desc__price {
      padding: 10px 10px;
   }
}

@media only screen and (max-width: 870px) {
   .welcome::before {
      bottom: 0;
      width: 600px;
      height: 700px;
   }

   .price-content {
      display: flex;
      flex-direction: column;
   }

   .price-item {
      max-width: 400px;
   }

   .about-cards {
      display: grid;
      grid-template-columns: 1fr;
   }

   .swiperNext,
   .swiperPrev {
      position: static;
      transform: none;
   }

   .arrow-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      gap: 20px;
   }
}

@media only screen and (max-width: 620px) {
   .welcome::before {
      bottom: 100px;
      width: 400px;
      height: 400px;
      background-image: url('./../img/pink-lenta-bg-SMALL.png');
   }

   .about-desc {
      margin-bottom: 70px;
   }

   .about-title {
      margin-bottom: 20px;
   }
}

@media only screen and (max-width: 410px) {
   .welcome::before {
      left: -105px;
      bottom: 150px;
   }
}

@media only screen and (max-width: 450px) {
   .mobile-nav {
      width: 70% !important;
   }
}