.header-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header {
   width: 100%;
   position: fixed;
   z-index: 99;
   background-color: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(20px);
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-logo {
   display: flex;
   align-items: center;

   .roza {
      width: 80px;
   }

   .nadpis {
      width: 140px;
   }
}


.header-nav__list {
   display: flex;
   gap: 40px;
}

.social-wrapper {
   display: flex;
   align-items: center;
   gap: 30px;
}

.icons-wrapper {
   display: flex;
   gap: 10px;
}

.whatsapp {
   padding: 8px;
   width: 44px;
   height: 44px;
   fill: #fff;
   background-color: #25D366;
   border-radius: 10px;
   transition: all 0.4s ease;

   &:hover {
      background-color: #fff;
      fill: #25D366;
   }
}

.telegram {
   padding: 6px;
   width: 44px;
   height: 44px;
   fill: #fff;
   background-color: #039BE5;
   border-radius: 10px;
   transition: all 0.4s ease;

   &:hover {
      background-color: #fff;
      fill: #039BE5;
   }
}

.phone-link {
   color: var(--color-text);
   font-size: 18px;
   transition: all 0.3s ease;

   &:hover {
      color: var(--color-bg);
   }
}

/*  ---------------- Бургер Меню ----------------  */
.nav-icon-btn {
   --time: 0.2s;
   --width: 60px;
   --height: 30px;
   --line-height: 1.2px;
   --line-margin: 2;
   --color: #2a9a53;

   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   padding: 10px 6px 10px 10px;
}

.nav-icon-btn {
   display: none;
}

.nav-icon {
   position: relative;
   width: var(--width);
   height: 3px;
   background-color: var(--color-muted);
   border-radius: 100px;
   transition: background-color .2s ease .2s;
}

.nav-icon::before,
.nav-icon::after {
   content: '';
   display: block;
   border-radius: 100px;
   position: absolute;
   left: 0;

   width: 50px;
   height: 3px;

   background-color: var(--color-muted);
   transition: transform .3s ease,
      top .3s ease;
}

.nav-icon::before {
   top: calc(var(--line-height) * -8);
}

.nav-icon::after {
   top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
   background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
   top: 0;
   transition: top .3s ease,
      transform .3s;
}

.nav-icon.nav-icon--active::before {
   transform: rotate(-40deg);
   top: -10px;
}

.nav-icon.nav-icon--active::after {
   transform: rotate(40deg);
}